{% extends "app/layout.html" %}

{% block content %}

<h2>Pension Data</h2>
<br/>

{% if latest_poll_list %}
<table class="table table-hover">
    <tbody>
        {% for poll in latest_poll_list %}
        <tr>
            <td>
                <a href="{% url 'app:detail' poll.id %}">{{poll.text}}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No polls available.</p>
<br />
<p>You can add a new plan.</p>
<form action="/seed" method="post">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Add New Plan</button>
</form>
<br />
<p>You can design new database models using the Admin interface.</p>
<p><a href="/admin" class="btn btn-primary btn-large">Admin Tool &raquo;</a></p>
{% endif %}

{% endblock %}
