
{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {{ media }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}
  {{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
      &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
      &rsaquo; {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
    </div>
  {% endblock %}
{% endif %}

{% block content %}
  <div id="content-main">
  {% block object-tools %}
  {% if change %}
    {% if not is_popup %}
      <ul class="object-tools">
      {% block object-tools-items %}
        <li>
          {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
          <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
        </li>

        {% if has_absolute_url %}
          <li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>
        {% endif %}
      {% endblock %}
      </ul>
    {% endif %}
  {% endif %}
{% endblock %}

<form action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}
  <div>
    {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
    {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
    {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
    {% if errors %}
        <p class="errornote">
        {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ adminform.form.non_field_errors }}
    {% endif %}

    {% block field_sets %}
      {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
      {% endfor %}
    {% endblock %}

    {% block after_field_sets %}{% endblock %}

{#    {% block inline_field_sets %}#}
{#      {% for inline_admin_formset in inline_admin_formsets %}#}
{#          {% include inline_admin_formset.opts.template %}#}
    <h4 style="display: inline">Plan Annual Attributes:</h4>
    (<a href="#" class="add-link" style="display: inline"
       data-toggle="modal" data-target="#add-modal">
      <img src="/static/admin/img/icon-addlink.svg">Add New</a>)

    {% for catefory in categories_queryset %}
      <div class="accordion accordion-{{ catefory.id }} ">{{ catefory.name }}( <span></span> )</div>
      <div class="accordion-panel">
        <table class="table table-striped table-plan-attr table-category-{{ catefory.id }}" data-id="{{ catefory.id }}">
          <thead>
            <tr>
              <th>Year</th><th>Source</th><th>Attribute</th><th>Value</th><th>Edit / Delete</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    {% endfor %}

{#      {% endfor %}#}
{#    {% endblock %}#}


    {% block after_related_objects %}{% endblock %}

    {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

    {% block admin_change_form_document_ready %}
        <script type="text/javascript"
                id="django-admin-form-add-constants"
                src="{% static 'admin/js/change_form.js' %}"
                {% if adminform and add %}
                    data-model-name="{{ opts.model_name }}"
                {% endif %}>
        </script>
    {% endblock %}

    {# JavaScript for prepopulated fields #}
    {% prepopulated_fields_js %}

  </div>
</form>
    <!-- Add Modal -->
    <div id="add-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New</h4>
          </div>
          <form id="add-new-form" method="post">{% csrf_token %}
          <div class="modal-body">

            <p><label>plan:&nbsp;</label>{{ original }}</p>
            <input type="hidden" name="plan" value="{{ original.pk }}" readonly>
            <p><label>Year:&nbsp;</label><input type="text" name="year" id="year-input-field"></p>
            <p><label>Attribute:&nbsp;</label>
              <select name="plan_attribute" id="attr-selectbox">
                <option value="">----------</option>
                {% for attr in attr_list %}
                <option value="{{ attr.id }}"
                        data-is-static="{{ attr.is_static }}"
                        data-rule="{{ attr.get_rule_readable }}">{{ attr.name }}</option>
                {% endfor %}
              </select><br><span class="calc-rule-field"></span>
            </p>
            <p><label>Value:&nbsp;</label><input type="text" name="attribute_value" id="attr-val-input"></p>
            <div id="add-new-result" style="display: none"></div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-default btn-primary" value="Save">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          </form>
        </div>

      </div>
    </div>

    <!-- Edit Modal -->
    <div id="edit-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Attribute Value</h4>
          </div>
          <div class="modal-body">
            <label>Value:&nbsp;</label><input type="text" id="attr-new-val" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-update" data-dismiss="modal">Update</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Delete Modal -->
    <div id="delete-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you wish to delete this record?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-delete" data-dismiss="modal">Delete</button>
          </div>
        </div>

      </div>
    </div>
</div>
  <link rel="stylesheet" type="text/css" href="{% static 'css/libs/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/libs/jquery.dataTables.min.css' %}" />
  <script type="text/javascript" src="{% static 'js/libs/jquery-1.10.2.min.js' %}"></script>
  <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/libs/jquery.dataTables.min.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function (e) {
      // Django -> JS
      var categories = "{{ categories_json }}";
      var plan_annual_attrs = "{{ plan_annual_attrs }}";

      // string -> JSON object
      categories = JSON.parse(categories.replace(/&quot;/g, '"'));
      plan_annual_attrs = JSON.parse(plan_annual_attrs.replace(/&quot;/g, '"'));

      // new JSON object for tbody, tableobj
      var tbody_arr = {};
      var table_arr = {};

      var c=0, i=0;
      for(c = 0; c < categories.length; c++){
          tbody_arr[ categories[c].id ] = '';
          table_arr[ categories[c].id ] = '';
      }
      // enable/disalbe attribute-value when a user selects attribute.
      $('#attr-selectbox').change(function () {
        var attr_id = $(this).val();
        if(!attr_id){
            console.log('I have no value')
            return false
        }
        var is_static = $(this).find(":selected").data('is-static');
        $('.calc-rule-field').text( '= ' + $(this).find(":selected").data('rule') )

        if(is_static === 'False'){

          $('#attr-val-input').prop("readonly", true).val('');

        }else{
          $('#attr-val-input').prop("readonly", false);
        }
      })

      // add new form submit
      $('#add-new-form').on('submit', function (e) {
          e.preventDefault();
          var year = parseInt( $('#year-input-field').val(), 10 );
          var attr_id = $('#attr-selectbox').val();
          var value = $('#attr-val-input').val();

          if (isNaN(year)){
            alert("invalid year");
            return false;
          }
          if(attr_id==""){
            alert("invalid attribute");
            return false;
          }

          // disable buttons before submit
          $('#add-new-result').html('Please wait ...').css('color', 'red');
          $('#add-new-form .btn-primary').prop('disabled', true);
          $('#add-new-form button').prop('disabled', true);

          // submit
          $.ajax({
            data:{
              'attr_id': attr_id,
              'plan_id': {{ original.pk }},
              'year': year,
              'value': value,
              'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
            },
            type: "post",
            url: '{% url "pensiondata:add_plan_annual_attr" %}',
            success: function (resp) {
              console.log(resp);
              if(resp.result == 'success'){
                $('#add-new-result').html('Successfully added').css('color','green').show();
                setTimeout(
                  function()
                  {
                    location.reload();
                  }, 2000);

              }else{
                $('#add-new-result').html(resp.msg).css('color','red').show();
                // disable buttons before submit
                $('#add-new-form .btn-primary').prop('disabled', false);
                $('#add-new-form button').prop('disabled', false);
              }

            },
            error: function (resp) {
              alert(resp);
              $('#add-new-form .btn-primary').prop('disabled', false);
              $('#add-new-form button').prop('disabled', false);
            }
          });

          return false;
      })
      // make tbody
      for(i=0; i< plan_annual_attrs.length; i++){

          tbody_arr[ plan_annual_attrs[i].category_id ] +=
              '<tr>' +
                '<td>' + plan_annual_attrs[i].year + '</td>' +
                '<td>' + plan_annual_attrs[i].data_source + '</td>' +
                '<td>' + plan_annual_attrs[i].attribute + '</td>' +
                '<td><span id="attr-val-'+ plan_annual_attrs[i].id +'">' + plan_annual_attrs[i].attribute_value + '</span></td>' +
                '<td><a href="#" class="edit-link" data-toggle="modal" data-target="#edit-modal" data-id="' + plan_annual_attrs[i].id + '">Edit</a> ' +
              '/ <a href="#" class="del-link" data-toggle="modal" data-target="#delete-modal" data-id="'+ plan_annual_attrs[i].id +'">Delete</a></td>' +
              '</tr>'
      }

      // display table
      for(c = 0; c < categories.length; c++){
          $('.table-category-' + categories[c].id + ' tbody').html(tbody_arr[ categories[c].id ]);
          table = $('.table-category-' + categories[c].id).dataTable({
              searching: false,
              bLengthChange: false
          });

          $('.accordion-' + categories[c].id + ' span').text(table.fnSettings().fnRecordsTotal());

          table_arr[ categories[c].id ] = table
      }

      // accordion
      var acc = document.getElementsByClassName("accordion");
      for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight){
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          }
        }
      }

      var selected_attr_id = 0;
      var selected_category_id = 0;
      var $selected_tr = null;
      // edit record
      $('body').on('click', '.edit-link', function () {
        selected_attr_id = $(this).data('id');
        var old_val = $('#attr-val-' + selected_attr_id).text();
        $('#attr-new-val').val(old_val);

      });

      $('.btn-update').click(function () {
        var new_val = $('#attr-new-val').val();
        var old_val = $('#attr-val-' + selected_attr_id).text();

        if ( !new_val || 0 === new_val.length){
            alert('The value is required.');
            return;
        }else if (new_val == old_val){
            return;
        }

        $.ajax({
          data:{
            'attr_id': selected_attr_id,
            'new_val': new_val,
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
          },
          type: "post",
          url: '{% url "pensiondata:edit_plan_annual_attr" %}',
          success: function (resp) {
            console.log(resp);
            if(resp.result == 'success'){
              $('#attr-val-' + selected_attr_id).text(new_val);
            }else{
              alert(resp.msg);
            }
          },
          error: function (resp) {
            alert(resp);
          }

        });

      });

      // delete record
      $('body').on('click', '.del-link', function () {
        selected_attr_id = $(this).data('id');
        selected_category_id = $(this).closest('table').data('id');
        $selected_tr = $(this).closest('tr').get(0);

      });

      $('.btn-delete').click(function () {
        $.ajax({
          data:{
            'attr_id': selected_attr_id,
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
          },
          type: "post",
          url: '{% url "pensiondata:delete_plan_annual_attr" %}',
          success: function (resp) {
            console.log(resp);
            if(resp.result == 'success'){
              $table = table_arr[selected_category_id];
              $table.fnDeleteRow($table.fnGetPosition($selected_tr));
              $('.accordion-' + selected_category_id + ' span').text($table.fnSettings().fnRecordsTotal());
            }else{
              alert(resp.msg);
            }
          },
          error: function (resp) {
            console.log('error')
            console.log(resp);
          }

        });
      });

    });

  </script>


{% endblock %}