{% load annual_table_tags %}

<div class="poup-settings-wrap panel panel-default">
  <div class="poup-settings">
  <form id="column_checklist_form">{% csrf_token %}
    <input type="hidden" name="model_name" value="{{ model_name }}">
    <div class="arrow"></div>
      <div class="panel-body">
      <div class="clearfix">
        <!-- DataSource selector -->
        <div class="pull-left datasource-selector">
          <h4>Data Sources</h4>
          <ul class="list-group column-list datasource-list">
          {% for ds in datasource_list %}
            <li class="datasource-level">
              <label>
                <input type="checkbox"
                       name="datasource_checked_states[]"
                       class="column-check-box datasource-column"
                       data-source-id="{{ ds.id }}"
                   {% get_checked_status request.session.plan_column_state "source" ds.id as is_checked %}
                   {% if is_checked %}
                       checked
                   {% endif %}
                       value={{ ds.id }}
                >{{ ds.name }}</label></li>
          {% endfor %}
          </ul>
        </div>

        <!-- Attribute selector -->
        <div class="pull-left attr-selector">
          <h4>Attributes</h4>
          <input class="form-control input-search" type="text" placeholder="Search...">
          <br>
          <ul class="list-group column-list attr-list">
          {% for category in category_list %}
            <li class="category-level">
              <label>
                <input type="checkbox"
                       name="category_checked_states[]"
                       class="column-check-box category-column"
                       data-category-id="{{ category.id }}"

                   {% get_checked_status request.session.plan_column_state "category" category.id as is_checked %}
                   {% if is_checked %}
                       checked
                   {% endif %}
                       value="{{ category.id|none2number }}"
                >{{ category.name }}</label>
              <ul>
              {% for attr in attr_list %}
                {% if attr.category_id == category.id %}
                  <li class="attr-level">
                    <label>
                      <input type="checkbox"
                             name="attr_checked_states[]"
                             class="column-check-box attr-column"
                             data-attr-id="{{ attr.attribute_id }}"
                             data-source-id="{{ attr.data_source_id }}"

                         {% get_checked_status request.session.plan_column_state "attr" attr.attribute_id as is_checked %}
                         {% if is_checked %}
                             checked
                         {% endif %}

                         {% get_checked_status request.session.plan_column_state "source" attr.data_source_id as is_checked %}
                         {% if not is_checked %}
                             disabled="disabled"
                         {% endif %}

                             value={{ attr.attribute_id }}
                      >{{ attr.attribute_name }}</label></li>
                {% endif %}
              {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="panel-footer clearfix">
{#          <button type="button" class="btn btn-default pull-left button-default">Default</button>#}
      <button type="button" class="btn btn-success pull-right button-apply">Apply</button>
      <button type="button" class="btn btn-default pull-right button-cancel">Cancel</button>
    </div>
  </form>
  </div>
</div>