{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pension Data</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}" />
    <link rel="shortcut icon" href="https://d1ai9qtk9p41kl.cloudfront.net/favicon.ico" type="image/x-icon"/>

    {% block extra-styles %}{% endblock %}

    <script src="{% static 'js/libs/modernizr-2.6.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/libs/respond.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
</head>

<body>
  <div class="waiting-modal"></div>
  <div class="container">
    <div id="topnav">
      <ul>
        <li class="text"><a href="http://reason.org">reason.org</a></li>
        <li class="text"><a href="http://reason.com">reason.com</a></li>
        <li class="text"><a href="http://reason.tv">reason.tv</a></li>
        <li class="text"><a href="https://www.reason.com/donatenow/donate.php">donate</a></li>
        <li class="icon twitter"><a href="http://twitter.com/reason"></a></li>
        <li class="icon facebook"><a href="http://www.facebook.com/Reason.Magazine"></a></li>
        <li class="icon youtube"><a href="http://www.youtube.com/user/ReasonTV"></a></li>
        <li class="icon gplus"><a href="https://plus.google.com/102760186866297506637/posts"></a></li>
        <li class="icon iphone"><a href="http://reason.com/iphoneapp"></a></li>
        <li class="icon rss"><a href="http://reason.org/rss/"></a></li>
      </ul>
    </div>
      
   <header role="banner" id="banner">
    <nav class="navbar-fixed-top">
		        <nav class="navbar navbar-inverse hidden-xs navbar-topics-menu" role="navigation" style="margin-bottom:0px;">
            <div class="container">
                <div id="socialmenu" class="navbar-collapse collapse">
	                <ul id="menu-featured-topics" class="menu"><li><a href="https://reason.org/topics/pension-reform/">Pension Reform</a></li>
<li><a href="https://reason.org/topics/transportation/">Transportation</a></li>
<li><a href="https://reason.org/topics/criminal-justice-reform/">Criminal Justice</a></li>
<li><a href="https://reason.org/topics/education/">Education</a></li>
<li><a href="https://reason.org/topics/individual-freedom/">Consumer Freedom</a></li>
<li class="menu-twitter hidden-sm"><a target="_blank" href="https://twitter.com/reason" class="social-icon twitter"><i class="fa fa-twitter"></i></a></li>
<li class="menu-facebook hidden-sm"><a target="_blank" href="https://www.facebook.com/Reason.Magazine/" class="social-icon facebook"><i class="fa fa-facebook"></i></a></li>
<li class="menu-google-plus hidden-sm"><a target="_blank" href="https://plus.google.com/+reasonmagazine/posts" class="social-icon google-plus"><i class="fa fa-google-plus"></i></a></li>
<li class="menu-youtube hidden-sm"><a target="_blank" href="https://www.youtube.com/user/ReasonTV" class="social-icon youtube"><i class="fa fa-youtube"></i></a></li>
</ul>                </div>
            </div>
        </nav>
        <nav class="navbar yamm navbar-main-menu" role="navigation" style="margin-top:0px;margin-bottom:0px;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/"><img src="https://reason.org/wp-content/themes/reason-org/assets/img/logos/logo-horizontal.svg" alt="Reason Foundation">
                    </a>

                </div>
                <div id="defaultmenu" class="navbar-collapse collapse" style="padding-bottom:0px;margin-bottom:0px;">
                    <ul id="primarynav" class="nav navbar-nav navbar-right">
                        <!-- Mega Menu -->
                        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">About<b class="caret"></b></a>
                            <ul id="menu-about-menu" class="dropdown-menu dropdown-menu-left"><li class="menu-about-us"><a href="https://reason.org/about-reason-foundation/">About Us</a></li>
<li class="menu-contact-us"><a href="https://reason.org/contact-reason-foundation/">Contact Us</a></li>
<li class="menu-faqs"><a href="https://reason.org/frequently-asked-questions/">FAQs</a></li>
<li class="menu-jobs-internships"><a href="https://reason.org/jobs/">Jobs &#038; Internships</a></li>
<li class="menu-staff"><a href="https://reason.org/staff/">Staff</a></li>
<li class="menu-trustees-officers"><a href="https://reason.org/trustees-and-officers/">Trustees &#038; Officers</a></li>
</ul>                        </li>
                        <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Experts<b class="caret"></b></a>
                            <ul class="dropdown-menu fullwidth">
                                <div class="yamm-content">
                                    <h4 class="bold-header">Browse Our Experts</h4>
<!--                                    <div class="row">-->
                                        <ul id="menu-experts-menu" class="menu"><div class="row"><div class="col-sm-4"><li class="menu-guy-bentley"><a href="/author/guy-bentley/">Guy Bentley</a> <div class="jobtitle">Consumer Freedom Research Associate</div></div></li>
<div class="col-sm-4"><li class="menu-truong-bui"><a href="/author/truong-bui/">Truong Bui</a> <div class="jobtitle">Policy Analyst, Pension Reform Project</div></div></li>
<div class="col-sm-4"><li class="menu-baruch-feigenbaum"><a href="/author/baruch-feigenbaum/">Baruch Feigenbaum</a> <div class="jobtitle">Transportation Policy Analyst</div></div></div></li>
<div class="row"><div class="col-sm-4"><li class="menu-brian-fojtik"><a href="/author/brian-fojtik/">Brian Fojtik</a> <div class="jobtitle">Senior Fellow</div></div></li>
<div class="col-sm-4"><li class="menu-leonard-gilroy"><a href="/author/leonard-gilroy/">Leonard Gilroy</a> <div class="jobtitle">Director of Government Reform</div></div></li>
<div class="col-sm-4"><li class="menu-tyler-koteskey"><a href="/author/tyler-koteskey/">Tyler Koteskey</a> <div class="jobtitle">Education Policy Analyst</div></div></div></li>
<div class="row"><div class="col-sm-4"><li class="menu-lauren-krisai"><a href="/author/lauren-krisai/">Lauren Krisai</a> <div class="jobtitle">Director of Criminal Justice Reform</div></div></li>
<div class="col-sm-4"><li class="menu-adrian-moore"><a href="/author/adrian-moore/">Adrian Moore</a> <div class="jobtitle">Vice President of Policy</div></div></li>
<div class="col-sm-4"><li class="menu-julian-morris"><a href="/author/julian-morris/">Julian Morris</a> <div class="jobtitle">Vice President of Research</div></div></div></li>
<div class="row"><div class="col-sm-4"><li class="menu-anil-niraula"><a href="/author/anil-niraula/">Anil Niraula</a> <div class="jobtitle">Policy Analyst</div></div></li>
<div class="col-sm-4"><li class="menu-robert-poole"><a href="/author/robert-poole/">Robert Poole</a> <div class="jobtitle">Director of Transportation Policy</div></div></li>
<div class="col-sm-4"><li class="menu-spence-purnell"><a href="/author/spence-purnell/">Spence Purnell</a> <div class="jobtitle">Policy Analyst</div></div></div></li>
<div class="row"><div class="col-sm-4"><li class="menu-anthony-randazzo"><a href="/author/anthony-randazzo/">Anthony Randazzo</a> <div class="jobtitle">Director of Economic Research</div></div></li>
<div class="col-sm-4"><li class="menu-aaron-smith"><a href="/author/aaron-smith/">Aaron Smith</a> <div class="jobtitle">Education Policy Analyst</div></div></li>
<div class="col-sm-4"><li class="menu-lisa-snell"><a href="/author/lisa-snell/">Lisa Snell</a> <div class="jobtitle">Director of Education</div></div></div></li>
<div class="row"><div class="col-sm-4"><li class="menu-austill-stuart"><a href="/author/austill-stuart/">Austill Stuart</a> <div class="jobtitle">Policy Analyst</div></div></li>
<div class="col-sm-4"><li class="menu-daniel-takash"><a href="/author/daniel-takash/">Daniel Takash</a> <div class="jobtitle">Pension Reform Policy Analyst</div></div></li>
<div class="col-sm-4 view-all-button"><li class="menu-view-all-experts"><a href="https://reason.org/staff/">View All Experts</a></div></div></li>
</ul><!--                                    </div>-->
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown yamm-fw"><a href="/policy-areas/" data-toggle="dropdown" class="dropdown-toggle">Topics<b class="caret"></b></a>
                            <ul class="dropdown-menu fullwidth">
                                <div class="yamm-content">
                                    <h4 class="bold-header">Browse Our Topics</h4>
<!--                                    <div class="row">-->
                                    <ul id="menu-topics-menu" class="menu"><div class="row"><div class="col-sm-4"><li class="menu-air-traffic-control"><a href="https://reason.org/topics/transportation/air-traffic-control/">Air Traffic Control</a></div></li>
<div class="col-sm-4"><li class="menu-airport-security"><a href="https://reason.org/topics/transportation/airport-security/">Airport Security</a></div></li>
<div class="col-sm-4"><li class="menu-climate-change"><a href="https://reason.org/topics/environment/climate-change/">Climate Change</a></div></div></li>
<div class="row"><div class="col-sm-4"><li class="menu-consumer-freedom"><a href="https://reason.org/topics/individual-freedom/">Consumer Freedom</a></div></li>
<div class="col-sm-4"><li class="menu-criminal-justice-reform"><a href="https://reason.org/topics/criminal-justice-reform/">Criminal Justice Reform</a></div></li>
<div class="col-sm-4"><li class="menu-education"><a href="https://reason.org/topics/education/">Education</a></div></div></li>
<div class="row"><div class="col-sm-4"><li class="menu-environment"><a href="https://reason.org/topics/environment/">Environment</a></div></li>
<div class="col-sm-4"><li class="menu-government-reform"><a href="https://reason.org/topics/government-reform/">Government Reform</a></div></li>
<div class="col-sm-4"><li class="menu-pension-reform"><a href="https://reason.org/topics/pension-reform/">Pension Reform</a></div></div></li>
<div class="row"><div class="col-sm-4"><li class="menu-privatization"><a href="https://reason.org/topics/privatization/">Privatization</a></div></li>
<div class="col-sm-4"><li class="menu-transportation"><a href="https://reason.org/topics/transportation/">Transportation</a></div></li>
<div class="col-sm-4 view-all-button"><li class="menu-view-all-topics"><a href="https://reason.org/policy-areas/">View All Topics</a></div></div></li>
</ul><!--                                    </div>-->
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="/publication-types/" data-toggle="dropdown" class="dropdown-toggle">Publications<b class="caret"></b></a>
                            <ul id="menu-publications-menu" class="dropdown-menu"><li class="menu-air-traffic-control-e-newsletter"><a href="/atcreform/">Air Traffic Control E-Newsletter</a></li>
<li class="menu-airport-policy-and-security-e-newsletter"><a href="/airsecurity/">Airport Policy and Security E-Newsletter</a></li>
<li class="menu-annual-highway-report"><a href="https://reason.org/topics/transportation/annual-highway-report/">Annual Highway Report</a></li>
<li class="menu-annual-privatization-report"><a href="/privatization_report/">Annual Privatization Report</a></li>
<li class="menu-commentaries"><a href="/commentary/">Commentaries</a></li>
<li class="menu-court-briefs"><a href="/court_brief/">Court Briefs</a></li>
<li class="menu-harm-reduction-e-newsletter"><a href="https://reason.org/harmreduction/">Harm Reduction E-Newsletter</a></li>
<li class="menu-innovators-in-action"><a href="/innovators/">Innovators in Action</a></li>
<li class="menu-pension-reform-newsletter"><a href="/pensionreform/">Pension Reform Newsletter</a></li>
<li class="menu-podcasts"><a href="/reason-foundation-telebriefing/">Podcasts</a></li>
<li class="menu-policy-studies"><a href="/policy_study/">Policy Studies</a></li>
<li class="menu-privatization-newsletter"><a href="/privgovreform/">Privatization Newsletter</a></li>
<li class="menu-student-based-budgeting-newsletter"><a href="/studentbudgeting/">Student-Based Budgeting Newsletter</a></li>
<li class="menu-surface-transportation-e-newsletter"><a href="/stinnovations/">Surface Transportation E-Newsletter</a></li>
<li class="menu-testimony"><a href="/testimony/">Testimony</a></li>
</ul>                        </li>
                        <li class="hidden-sm"><a href="https://reason.com" target="_blank" title="Reason Magazine">Reason.com</a></li>
                        <li><a href="/donate/">Donate</a></li>
                        <li>
                            <form id="searchnav-hamburger" class="header-search hidden-sm hidden-md hidden-lg"
                                  action="/" name="" method="get">
                                <div class="input-group">
                                    <input type="search" value name="s" id="terms" class="form-control"
                                           placeholder="Search">
                                    <div class="input-group-btn">
                                        <!--                            <input type="submit" value="Search" id="submit1" class="btn btn-primary small">-->
                                        <button type="submit" class="btn small" id="submit2">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li class="dropdown nav-search">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-search"></i></a>
                            <div class="nav-search-container dropdown-menu">
                                <form id="searchnav" class="header-search" action="/" name="" method="get">
                                    <input type="search" value name="s" class="form-control" placeholder="Search">
                                    <button type="submit" class="btn small">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </nav>
</header>

    <div id="header">
      <a href="/" class="home-link"></a>
{#      <div class="navbar-collapse collapse navbarnew">#}
{#          {% include 'app/loginpartial.html' %}#}
{#      </div>#}
    </div>

    {% block content %}{% endblock %}

<!--     <footer>
        <hr>
        <p>&copy; 2017 - Pension Data</p>
    </footer>
  </div> -->

  {% block extra-scripts %}{% endblock %}
  </div>
</body>
</html>
