{% extends "base.html" %}
{% load static %}

{% block extra-styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/libs/jquery.dataTables.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/libs/colReorder.dataTables.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/libs/fixedColumns.dataTables.min.css' %}" />
{% endblock %}

{% block content %}
<div id="content">
  <!-- Plan Details -->

  <div id="breadcrumbs">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Plans</a></li>
      <li class="breadcrumb-item active">{{ government.display_name }}</li>
    </ol>
  </div>

  <h3>Government Details</h3>
  <table class="table table-hover table-bordered table-striped">
    <tr>
      <td>Name</td><td>{{ government.name }}</td>
    </tr>
    <tr>
      <td>State</td><td><a href="">{{ government.state }}</a></td>
    </tr>
    <tr>
      <td>Type</td><td>{{ government.government_type.level }}</td>
    </tr>

  </table>

  <!-- Plan Annual Attributes -->
  <div class="annual_title">Government Annual Attributes:</div>
  <a class="start-settings" href="#"><i class="fa fa-cog" aria-hidden="true"></i></a>

  <!-- Selector Popup -->
  {% include 'includes/column_selector_popup.html' with datasource_list=datasource_list category_list=category_list full_attr_list=full_attr_list model_name="plan" %}
  <!-- PlanAnnualAttribute Table -->
  <div class="annual_table_area" style="display:none; overflow: hidden">
    <table class="table table-bordered table-striped" id="table-annual-data">
      <thead>
        <tr class="tr-attribute">
          <th style="vertical-align: middle; width: 45px;">Year</th>
          {% for attr in full_attr_list %}
            {% if attr.selected %}
          <th class="th-attr-{{ attr.attribute_id }} td-source-{{ attr.data_source_id }}"
              data-category-id="{{ attr.category_id }}">
            {{ attr.attribute_name|capfirst }}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for year in year_list %}
            <tr class="tr-annual-data-per-year">
              <td>{{ year.year }}</td>
              {% for attr in full_attr_list %}
                {% if attr.selected %}
                  <td class="td-attr-{{ attr.attribute_id }} td-source-{{ attr.data_source_id }}"
                      id="td-id-{{ year.year }}-{{ attr.attribute_id }}"
                      data-annual-data-pk="-1"
                  ></td>
                {% endif %}
              {% endfor %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<!-- Export:
<a href="ExportFile?file_type=csv&plan_id={{ plan.id }}"> CSV </a>
<a href="ExportFile?file_type=json&plan_id={{ plan.id }}"> JSON </a>
<a href="ExportFile?file_type=stata&plan_id={{ plan.id }}"> Stata </a>
<a href="ExportFile?file_type=xlsx&plan_id={{ plan.id }}"> Excel </a>

-->

</div><!-- end of content -->
{% endblock %}

{% block extra-scripts %}
  <script src="{% static 'js/libs/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/libs/dataTables.colReorder.min.js' %}"></script>
  <script src="{% static 'js/libs/dataTables.fixedColumns.min.js' %}"></script>

  <script type="text/javascript">
    console.log('script start');
    var government_annual_data = "{{ government_annual_data }}";
    var save_checklist_url = '{% url "pensiondata:save_checklist" %}';

    // string -> JSON object
    var plan_annual_data = JSON.parse(government_annual_data.replace(/&quot;/g, '"'));
    console.log('JSON parse');

  </script>
  <script type="text/javascript" src="{% static 'js/annual_table.js' %}"></script>
  <script type="text/javascript">
    var is_government = true;
    console.log('G: ', is_government);
  </script>
{% endblock %}
