{% extends "base.html" %}
{% load static %}

{% block extra-styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/libs/jquery.dataTables.min.css' %}" />
{% endblock %}

{% block content %}
<div id="content">
  <!-- Plan Details -->
  
  <div id="breadcrumbs">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Plans</a></li>
      <li class="breadcrumb-item active">{{plan.display_name }}</li>
    </ol>
  </div>

  <h3>Plan Details</h3>
  <table class="table table-hover table-bordered table-striped">
    <tr>
      <td>Census Plan Id</td><td>{{ plan.census_plan_id }}</td>
    </tr>
    <tr>
      <td>Name</td><td>{{ plan.display_name }}</td>
    </tr>
    <tr>
      <td>State</td><td>{{ plan.admin_gov.state }}</td>
    </tr>

  </table>

  <!-- Plan Annual Attributes -->
<h3 style="display: inline">Plan Annual Attributes:</h3>&nbsp;
  <a class="start-settings" href="#"><i class="fa fa-cog" aria-hidden="true"></i></a>

  <!-- Selector Popup -->
  <div class="poup-settings-wrap panel panel-default">
    <div class="poup-settings">
    <form id="column_checklist_form">{% csrf_token %}
      <div class="arrow"></div>
        <div class="panel-body">
        <div class="clearfix">
          <!-- DataSource selector -->
          <div class="pull-left datasource-selector">
            <h4>Data Sources</h4>
            <ul class="list-group column-list datasource-list">
            {% for ds in datasource_list %}
              <li class="datasource-level">
                <label>
                  <input type="checkbox"
                         name="datasource_checked_states[]"
                         class="column-check-box datasource-column"
                         data-source-id="{{ ds.id }}"
                     {% if not request.session.datasource_checked_states or ds.id in request.session.datasource_checked_states %}
                         checked
                     {% endif %}
                         value={{ ds.id }}
                  >{{ ds.name }}</label></li>
            {% endfor %}
            </ul>
          </div>

          <!-- Attribute selector -->
          <div class="pull-left attr-selector">
            <h4>Attributes</h4>
            <input class="form-control input-search" type="text" placeholder="Search...">
            <br>
            <ul class="list-group column-list attr-list">
            {% for category in category_list %}
              <li class="category-level">
                <label>
                  <input type="checkbox"
                         name="category_checked_states[]"
                         class="column-check-box category-column"
                         data-category-id="{{ category.id }}"
                     {% if not request.session.category_checked_states or category.id in request.session.category_checked_states %}
                         checked
                     {% endif %}
                         value={{ category.id }}
                  >{{ category.name }}</label>
                <ul>
                {% for attr in attr_list %}
                  {% if attr.category_id == category.id %}
                    <li class="attr-level">
                      <label>
                        <input type="checkbox"
                               name="attr_checked_states[]"
                               class="column-check-box attr-column"
                               data-attr-id="{{ attr.attribute_id }}"
                               data-source-id="{{ attr.data_source_id }}"
                           {% if not request.session.attr_checked_states or attr.attribute_id in request.session.attr_checked_states %}
                               checked
                           {% endif %}

                           {% if attr.data_source_id not in request.session.datasource_checked_states %}
                               disabled="disabled"
                           {% endif %}

                               value={{ attr.attribute_id }}
                        >{{ attr.attribute_name }}</label></li>
                  {% endif %}
                {% endfor %}
                </ul>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-footer clearfix">
  {#          <button type="button" class="btn btn-default pull-left button-default">Default</button>#}
        <button type="button" class="btn btn-success pull-right button-apply">Apply</button>
        <button type="button" class="btn btn-default pull-right button-cancel">Cancel</button>
      </div>
    </form>
    </div>
  </div>

  <!-- PlanAnnualAttribute Table -->
  <div class="annual_table_area" style="display:none;">
    <table class="table table-bordered table-striped" id="table-annual-data">
      <thead>
        <tr class="tr-category"></tr>
        <tr class="tr-attribute">
          {% for attr in attr_list %}
            <th class="th-attr-{{ attr.attribute_id }} td-source-{{ attr.data_source_id }}"
                data-category-id="{{ attr.category_id }}">
              {{ attr.attribute_name|capfirst }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for year in year_list %}
        <tr class="tr-annual-data-per-year">
          <td>{{ year.year }}</td>
          {% for attr in attr_list %}
          <td class="td-attr-{{ attr.attribute_id }} td-source-{{ attr.data_source_id }}"
              id="td-id-{{ year.year }}-{{ attr.attribute_id }}"
              data-annual-data-pk="-1"
          ></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


</div><!-- end of content -->
{% endblock %}

{% block extra-scripts %}
  <script src="{% static 'js/libs/jquery.dataTables.min.js' %}"></script>

  <script type="text/javascript">
    var plan_annual_data = "{{ plan_annual_data }}";
    var save_checklist_url = '{% url "pensiondata:save_checklist" %}';

    // string -> JSON object
    plan_annual_data = JSON.parse(plan_annual_data.replace(/&quot;/g, '"'));

  </script>
  <script type="text/javascript" src="{% static 'js/annual_table.js' %}"></script>
{% endblock %}
