{% extends "base.html" %}
{% load static %}
{% load annual_table_tags %}

{% block extra-styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/libs/jquery.dataTables.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/libs/colReorder.dataTables.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/libs/fixedColumns.dataTables.min.css' %}" />
{% endblock %}

{% block content %}
<div id="content">
  <!-- Plan Details -->

  <div id="breadcrumbs">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Plans</a></li>
      <li class="breadcrumb-item active">{{plan.display_name }}</li>
    </ol>
  </div>

  <h3>Plan Details</h3>
  <table class="table table-hover table-bordered table-striped">
    <tr>
      <td>Census Plan Id</td><td>{{ plan.census_plan_id }}</td>
    </tr>
    <tr>
      <td>Name</td><td>{{ plan.display_name }}</td>
    </tr>
    <tr>
      <td>Administering Government</td><td><a href="/government-detail/{{ plan.admin_gov.id }}">{{ plan.admin_gov.name }}</a></td>
    </tr>

  </table>

  <!-- Plan Annual Attributes -->
  <div class="annual_title">Plan Annual Attributes:</div>
  <a class="start-settings" href="#"><i class="fa fa-cog" aria-hidden="true"></i></a>

  <!-- Selector Popup -->
  {% include 'includes/column_selector_popup.html' with datasource_list=datasource_list category_list=category_list full_attr_list=full_attr_list model_name="plan" is_admin_page=False  %}

  <!-- PlanAnnualAttribute Table -->
  <div class="annual_table_area" style="display:none; overflow: hidden">
    <table class="table table-bordered table-striped" id="table-annual-data">
      <thead>
        <tr class="tr-attribute">
          <th style="vertical-align: middle; width: 45px;">Year</th>
          {% for attr in full_attr_list %}
            {% if attr.selected %}
          <th class="th-attr-{{ attr.attribute_id }} td-source-{{ attr.data_source_id }}"
              data-category-id="{{ attr.category_id }}" data-attr-id="{{ attr.attribute_id }}">
            {{ attr.attribute_name|capfirst }}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for year in year_list %}
        <tr class="tr-annual-data-per-year">
          <td>{{ year.year }}</td>
          {% for attr in full_attr_list %}
            {% if attr.selected %}
          <td class="td-attr-{{ attr.attribute_id }} td-source-{{ attr.data_source_id }}"
              id="td-id-{{ year.year }}-{{ attr.attribute_id }}"
              data-annual-data-pk="-1"
          ></td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

Export:

<a href="{% build_export_url 'csv' plan.id year_from year_to %}" class="export-file-link"> CSV </a>
<a href="{% build_export_url 'json' plan.id year_from year_to %}" class="export-file-link"> JSON </a>
<a href="{% build_export_url 'stata' plan.id year_from year_to %}" class="export-file-link"> Stata </a>
<a href="{% build_export_url 'xlsx' plan.id year_from year_to %}" class="export-file-link"> Excel </a>
| <label><input id="exportFile" type="checkbox" checked value="all"> All fields</label>

<br/>
Presentations export:

{% for export in presentations_exports %}
    <a href="{% build_export_url export.export_type plan.id year_from year_to export.name %}" class="export-file-link"> {{ export.name }} </a>
{% endfor %}

</div><!-- end of content -->
{% endblock %}

{% block extra-scripts %}
  <script src="{% static 'js/libs/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/libs/dataTables.colReorder.min.js' %}"></script>
  <script src="{% static 'js/libs/dataTables.fixedColumns.min.js' %}"></script>

  <script type="text/javascript">
    console.log('script start');
    var plan_annual_data = "{{ plan_annual_data }}";
    var save_checklist_url = '{% url "pensiondata:save_checklist" %}';

    // string -> JSON object
    plan_annual_data = JSON.parse(plan_annual_data.replace(/&quot;/g, '"'));

    console.log('JSON parse');

  </script>
  <script type="text/javascript" src="{% static 'js/detail_actions.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/annual_table.js' %}"></script>
{% endblock %}
